html, body {
  background-color: #eeebe4;
  color: #28282e;
  font-family: 'Lato', sans-serif;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  min-height: 80px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.navItem {
  align-self:center;
  font-size: 20px;
  text-decoration: none;
  background-color:white;
  border-radius: 25px;
  padding: 10px 25px 10px 25px;
}

.navActive  {
  color:cornflowerblue;
}