html, body {
  background-color: #eeebe4;
  color: #28282e;
  font-family: 'Lato', sans-serif;
}

.mainContainer {
  border-radius: 10px;
  background-color: #d3cec2;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  min-height: 80px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.navItem {
  align-self:center;
  font-size: 20px;
  text-decoration: none;
  background-color:white;
  border-radius: 25px;
  padding: 10px 25px 10px 25px;
}

.navActive  {
  color:cornflowerblue;
}

.contactContainer{
  background-color:rgba(214, 81, 255, 1);
  display:flex;
  flex-direction: row;
}

.contactColumn {
  min-width: 20%;
  overflow: hidden;
  white-space: nowrap;
}

.contactColumnList{
  background-color:rgba(214, 128, 79, 1);
  min-width: 15%;
}

.contactDetails {
  background-color:rgba(165, 88, 105, 1);
}

.contactRowHeader {
  padding: 5px 20px 5px 20px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  min-width: 20%;
  background-color:rgba(104, 146, 64, 1);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.contactRow {
  border-radius: 10px;
  padding: 5px 20px 5px 20px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  min-width: 20%;
  background-color:rgba(243, 250, 148, 0.6);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  transition: 0.3s;
}

.contactRow:hover {
  background-color:rgba(243, 250, 148, 1);
}